---
layout: home
---

{% if paginator.page %}
  {% assign offset = paginator.page | minus:1 | times:paginator.per_page %}
  {% assign currentPage = paginator.page %}
{% else %}
  {% assign offset = 0 %}
  {% assign currentPage = 1 %}
{% endif %}

{% include header.html %}
<div class="c-posts o-opacity" data-page="{{ currentPage }}" data-totalPages="{{ paginator.total_pages }}">
  {% for post in site.posts limit:site.paginate offset:offset %}
  {% unless post.exclude %}
    {% include post-card.html post=post show_words=true %}
  {% endunless %}
  {% endfor %}
</div> <!-- /.c-posts -->

{% assign postCount = site.posts | size %}
{% assign postsCovered = site.paginate | plus:offset %}
{% if postsCovered < postCount %}
  <button class="c-load-more c-btn c-btn--middle">Load more posts</button>
{% endif %}
{% include categories.html %}
