<header class="c-header">
  <div class="c-header__box">
    {% include search-box.html %}
    <div class="c-nav">
      {% comment %}
        Real <button> elements, not clickable <li>s: the previous markup could not
        be reached by keyboard at all. role="tab" + aria-selected tell screen
        readers which view is showing. js/main.js keys off data-target.
      {% endcomment %}
      <ul class="c-nav__list u-lists-reset" role="tablist">
        <li>
          <button type="button" class="c-nav__item is-active" data-target="posts"
                  role="tab" aria-selected="true">
            <span data-icon='ei-pencil' data-size='s'></span> Posts
          </button>
        </li>
        <li>
          <button type="button" class="c-nav__item" data-target="categories"
                  role="tab" aria-selected="false">
            <span data-icon='ei-star' data-size='s'></span> Categories
          </button>
        </li>
      </ul>
    </div>
  </div>
</header> <!-- /.c-header -->
